<div class="flex justify-center py-5">
    <div class="flex flex-col">
        <div class="basis-12/12">
            <h2 class="bg-emerald-400 bg-opacity-30 rounded-full p-2 px-10 dark:text-white text-opacity-100 text-base antialiased">About Me</h2>
        </div>
    </div>
</div>

<div class="flex flex-col md:flex-row py-5">
    <div class="basis-5/12 flex justify-center md:justify-start md:items-center">
        <div class="flex flex-col max-w-sm">
            <img class="rounded-md shadow-2xl shadow-slate-950" src="assets/images/landing/image_1.jpeg">
        </div>
    </div>
    <div class="basis-7/12">
        <div class="flex flex-col md:p-5">
            <div class="flex py-10">
                <h3 class="text-4xl font-bold dark:text-gray-100 antialiased">Curious about me? Here you have it:</h3>
            </div>
            <div class="flex flex-col">
                <p class="dark:text-gray-300">I'm a passionate, self-proclaimed designer who specializes in Front-End development (WordPress &
                    Angular). I am very enthusiastic about bringing the technical and visual aspects of digital products
                    to life. User experience, pixel perfect design, and writing clear, readable, highly performant code
                    matters to me. <br> I began my journey as a web developer in 2019, and since then, I've continued to grow and evolve as
                    a developer, taking on new challenges and learning the latest technologies along the way. Now, in my
                    early thirties, 5 years after starting my web development journey, I'm building cutting-edge web
                    applications using modern technologies such as WordPress, Angular, Bootstrap, Tailwindcss, Flowbite
                    and much more. </p>
            </div>
        </div>
    </div>
</div>